.add-course {
    display:flex;
    flex-direction: column;
    margin: calc(var(--universal-gap) * 2);
    gap: calc(var(--universal-gap) * 2);
}

.title {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.title label {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--universal-gap) * 2);
}

.info textarea {
    width: 100%;
    margin-top: var(--universal-gap);
    min-height: 100px;
    padding: calc(var(--universal-gap) * 1.5); 
    border: 2px solid yellow;
}

.details {
    border: 2px solid purple;
    padding: calc(var(--universal-gap) * 1.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.addition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(var(--universal-gap) * 8);
}

.addition > div,
.addition > div > form {
    display: flex;
    flex-direction: column;
    gap: var(--universal-gap);
}
.addition button {
    width: fit-content;
    align-self: center;
}

.addition > div > h3:first-of-type {
    align-self: center;
}

.duration {
    font-size: 2em;
    font-weight: normal;
    align-self: start;
}

.duration-converted {
    font-weight: bolder;
}


.authors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--universal-gap) * 1.5);
}

.course-authors-list,
.course-authors {
    width: min(300px, 80%);
    display: flex;
    flex-direction: column;
    gap: calc(var(--universal-gap) / 2);
}

.course-authors-list li,
.course-authors li {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

