.course-info {
    margin: calc(var(--universal-gap) * 2);
    border: 1.5px solid rgb(0, 110, 255);
    padding: calc(var(--universal-gap) * 4)
}

.course-info > a {
    font-size: 1.2em;
}

.course-info > h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: calc(var(--universal-gap) * 4);
}

.grid-info {
    display: grid;
    grid-template-columns: 2fr 350px;
    gap: calc(var(--universal-gap) * 2);
    padding-bottom: calc(var(--universal-gap) * 6);
}

.grid-info > p {
    font-size: 1.1em;
    line-height: 1.4em;
}

.grid-info > ul {
    display: flex;
    flex-direction: column;
    gap: var(--universal-gap);
}

.grid-info li {
    font-size: 1.1em;
}

.authors > p {
    margin-top: calc(var(--universal-gap) * 1.5);
}