.card {
	display: grid;
	grid-template-columns: 2fr 350px;
	border: 2px solid green;
	padding: 30px;
	gap: 40px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.info > button {
	width: fit-content;
	align-self: center;
}

.info > h3 {
	font-weight: bolder;
}

.info > h3:first-of-type {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.description > h1 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.description > p {
	line-height: 1.4em;
}
