.card {
	display: grid;
	grid-template-columns: 2fr 350px;
	border: 2px solid green;
	padding: 30px;
	gap: 40px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.info > button {
	width: fit-content;
	align-self: center;
}

.info > label:first-of-type {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.info > div {
	display: flex;
	gap: var(--universal-gap);
	justify-content: end;
	margin-top: var(--universal-gap);
}

.description {
	overflow: hidden;
}

.description > h1 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.description > p {
	line-height: 1.4em;
	max-height: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}
