#annoucement {
    width: auto;
    height: auto;
}

#backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
    z-index: 998;
}

#message {
    width: min(400px, 80%);
    background-color: #fff;
    border-radius: 5px;
    height: fit-content;
    padding: calc(var(--universal-gap) * 2);
    z-index: 999;
}