.header {
	height: var(--header-height);
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: 2px solid orangered;
	padding: calc(var(--universal-gap) * 1.5);
}

.header > div {
	display: inline-flex;
	align-items: center;
	gap: 40px;
}

.header > div > h1 {
	font-weight: 700;
	font-size: 120%;
}
