.courses {
	display: flex;
	flex-direction: column;
	gap: calc(var(--universal-gap) * 2);
	margin: calc(var(--universal-gap) * 2);
}

.courses-navigation {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}

